 /* > diya shudhu imidia tag ta dhore change kora jay  */
 nav > ul { /*nav er moddhe er ul dhorteci */
    /* imidiate child er jonno > sign  */
    /* baki vitore ul thakleoo dhorbe na  */
    display: flex;
 }
 /* nav > ul ba nav ul 2 vabei lekha jay  */
 /* kintu nicherr  2 tay nav li evabe na dile hocce na  */
 nav li {
    /* nav er moddhe er li  */
    /* kintu shudhu imidiate ta na shobgulai  */
    list-style: none;
    margin: 10px;
    padding: 5px;
 }

nav li a{
    text-decoration: none;
    color: black;
}

nav li:hover{
    background-color: lightblue;
}

/* nested menu styles  */

nav li .dropdown{
    /* nav er li er moddhe dropdown class shudhu  */
    display: none;
    /* display none kore gayeb korlam  */
    /* tarper niche hover korelam  */
    position: absolute;
    background-color: lightyellow;
    padding-left: 10px;
}
nav li:hover .dropdown{
    /* nav er moddhe li a hover korle dropdown list dekhabe  */
    display: block;
}